/* body{
    display: grid;
    grid-template-areas:"h1 h1 h1 h1"
                        "img img img img"
                        "tex tex tex tex";
                        grid-column: ;
                        
}
#imgDiv {
    /* grid-area:"img" ; */
    /* vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img {
    grid-area:"img" ;
    width: 300px;
    height: 400px;
    background-color: rgb(231, 108, 108);
}
#text {
    grid-area: "tex";
    display: none;
} */ 
#btn{
    
}