*{
 box-sizing: border-box;

}
body{
   padding: 0;
 margin:0 ;  
}

.headline{
    position: relative;
    z-index: 1;
    /* width: 100%;
    height: 70vh;
background-color:black;
opacity: 0.5;
background-image:url(./123.jpg); */



}
.headline .h1div{
    position:absolute;
    z-index: -1;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
 background-color: black;
    opacity: .4;
width: 100%;
height: 50vh;
background: url(./83695600_10219081838949069_1938272264843689984_o.jpg) no-repeat;
}
#mydiv{
    display: flex;
    background-color: black;
    width: 100%;
 
    height: 50vh;
}

h1{
    opacity: 1;
    
}
